<header>
    <div style="display:flex;margin-bottom:20px;">
        <div class="navbar-img">
            <a href="/index.html"><img src="/assets/img/logo/logo.png"></a>
        </div>
        <div class="navbar">
            <div class="dropdown">
                <button class="dropbtn">SOBRE<i class="fa fa-caret-down"></i></button>
                <div class="dropdown-content">
                    <a href="/sobre_grupo.html">O grupo</a>
                    <a href="/sobre_pesquisadores.html">Os pesquisadores</a>
                </div>
            </div>
            <a class="size1" href="#">AGENDA</a>
            <a class="size4" href="#">VERTENTES DO MORRO</a>
            <div class="dropdown">
                <button class="dropbtn">GRUPOS<i class="fa fa-caret-down"></i></button>
                <div class="dropdown-content">
                    <a href="/ecolab.html">ECOLAB</a>
                    <a href="/movere.html">Movére</a>
                    <a href="/murundum.html">Murundum</a>
                    <a href="/nast.html">NAST</a>
                </div>
            </div>
            <a class="size3" href="#">BIBLIOTECA</a>
            <a class="size2" href="#" style="margin-right:0px;">CONTATO</a>
        </div>
    </div>
</header>
